body {
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-item a:active {
  color: #59981a;
}

.navbar-nav li {
  padding: 0 25px 0 0;
}

.navbar-nav li a {
  color: rgb(9, 8, 8) !important;
  padding: 15px;
}

.navbar-nav li a:hover, .active {
  color: #81b622 !important;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand {
  color: #59981a !important;
  font-weight: bolder !important;
}

.navbar-brand:hover {
  color: #3d550c;
}

.top-navbar {
  background: #81b622 !important;
  color: #fff;
  min-height: 33px !important;
}

.top-navbar .top-nav span {
  padding: 0 30px 0 0;
}

.top-navbar .top-nav span a .fab {
  color: #fff;
}

.navbar-nav li a .active,
.galery-section h2 {
  color: #3d550c;
}

/* Carousel Slide */
.carousel .carousel-inner {
  height: 400px !important;
}

.carousel .carousel-inner .carousel-caption {
  bottom: 150px !important; 
  color: #ff0000;
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
}

/* Treatments Section */
.treats-span,
.card-title {
  color: #81b622;
  padding: 0;
}

.treatments .card {
  box-shadow: 3px 3px 3px 3px #e9e9e9;
}

.treatments .badge {
  border: 0;
  padding: 15px 20px 15px 20px;
}

/* Gallery */
.image-block {
  border: 3px solid white;
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 200px;
  text-align: center;
  vertical-align: bottom;
}
.image-block > p {
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 19px;
  padding-top: 150px;
  background-color: rgba(3, 3, 3, 0);
  color: rgba(6, 6, 6, 0);
}
.image-block:hover > p {
  background-color: rgba(3, 3, 3, 0.5);
  color: white;
}

/* Footer */

footer .container-fluid {
  color: #fff;
  background: url("/img/background.jpg") no-repeat center center/cover;
  opacity: 0.8;
  padding: 25px;
}

footer .container-fluid a {
  color: #fff;
}

footer .footer-copyright {
  background-color: #81b622;
  color: #fff;
}

footer .footer-copyright a {
  color: #fff;
  text-decoration: underline;
}
.top-nav .fab {
  font-size: 25px;
}

footer .top-nav .fab {
  padding: 0 20px 0 0;
}

footer .menu ul li a {
  text-decoration: underline;
}

/* Contact US */
section#contact .container-fluid,
section#about .container-fluid,
section#services .container-fluid {
  color: #fff;
  background: url("/img/pages/branch-conifer-green-40896.jpg") no-repeat center
    center/cover;
  opacity: 0.8;
  padding: 25px;
  height: 200px;
}

section#contact .container.contact-details {
  padding-top: 65px;
}

section#contact .container.contact-details span {
  padding: 45px 45px 45px 45px;
}

/* About */
section#about .services-offer img {
  padding: 12px;
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

span.spans {
  color: #3d550c;
}

section.why-blissful .jumbotron {
  background: url(/img/background.jpg) no-repeat center center/cover;
  color: #fff;
  opacity: 0.8;
}

section.our-team .jumbotron {
  /* background:#B2D2A4; */
  /* color: #fff; */
  height: 450px;
}
